<div class="govuk-grid-row">
  <h2 class="govuk-heading-m govuk-!-padding-top-2">
    Get help or give feedback
  </h2>

  <% unless @hide_guidance_text %>
    <p class="govuk-body">
      <a href="/guidance">Visit the guidance page</a> for information on:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-5">
      <li>what the data contains</li>
      <li>data methodology and limitations</li>
      <li>using the developer API</li>
      <li>licensing restrictions</li>
    </ul>
  <% end %>

  <p class="govuk-body">
    For enquiries about the data, please contact the Ministry of Housing, Communities and Local Government (MHCLG)
  </p>

  <p class="govuk-body">
    <a class="govuk-link" href="mailto:mhclg.digital-services@communities.gov.uk?subject=EPB - ">mhclg.digital-services@communities.gov.uk</a>
  </p>

  <p>
    If you would like to give feedback to help us improve this service, please use our <a class="govuk-link" href="https://forms.cloud.microsoft/Pages/ShareFormPage.aspx?id=EGg0v32c3kOociSi7zmVqETToTZGq_ZHjAjIalVbxERUNURZSEc1UU1YMVpTS1c2MTU1RUZGUE5LUi4u&sharetoken=ygvnOLiiMDqFkdj2dKjt">feedback form</a>.
  </p>
</div>