<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('error.404.heading') %></h1>
    <p>
      <%= t('error.404.intro') %>
    </p>
    <p>
      <%= t('error.404.body') %>
    </p>
  </div>
</div>
