<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">Guidance</h1>

        <p class="govuk-body-l">
          You can use these resources to help you understand and use energy certificate data.
        </p>


      </div>
      <div class="govuk-grid-row">
        <h2 class="govuk-heading-m govuk-!-padding-top-4">
          Understanding the data
        </h2>

        <p class="govuk-body">
          Information on how the data is formatted and produced.
        </p>

        <ul class="govuk-list">
          <li>  <a href="/guidance/data-dictionary">Data dictionary</a></li>
          <li>  <a href="/guidance/linking-certificates-to-recommendations">Linking certificates to recommendations</a></li>
          <li>  <a href="/guidance/how-the-data-is-produced">How the data is produced</a></li>
          <li>  <a href="/guidance/changes-to-the-format-and-methodology">Changes to the format and methodology</a></li>
          <li>  <a href="/guidance/data-limitations">Data limitations and exclusions</a></li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-padding-top-4">
          Publishing and usage restrictions
        </h2>

        <p class="govuk-body">
          Information on the restrictions that affect how the data is published and how you can use it.
        </p>

        <ul class="govuk-list">
          <li>  <a href="/guidance/licensing-restrictions">Licensing restrictions</a></li>
          <li>  <a href="/guidance/data-protection-requirements">Data protection requirements</a></li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-padding-top-4">
          Developer APIs
        </h2>

        <p class="govuk-body">
          Information on using a developer API.
        </p>

        <ul class="govuk-list">
          <li>  <a href="/guidance/energy-certificate-data-apis">API guidance</a></li>
          <li>  <a href="/api-technical-documentation">API technical documentation</a></li>
        </ul>
      </div>
      <%= erb :component__get_help %>
    </div>
  </div>
</div>