<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">Manage profile</h1>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div id="client-credentials-section" class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Client Credentials
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">
              <p class="govuk-body">Client Email Appears Here</p>
            </div>
          </div>
          <div id="bearer-token-section" class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Bearer Token
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">
              <p class="govuk-body">Bearer Token Appears Here</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>