<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl"> <%= t('signed_out.title') %></h1>

        <p class="govuk-body">
          <%= t('signed_out.link') %> <a href="/login">GOV.UK One Login</a>.
        </p>

      </div>
    </div>
  </div>
</div>