$govuk-global-styles: true;
$govuk-assets-path: '';

@import "./node_modules/govuk-frontend/dist/govuk/index";
@import "./assets/components/analytics";
@import "./assets/components/expired-text";
@import "./assets/components/recaptcha";
@import "./assets/components/print";
@import "./assets/components/toggle-to-welsh";
@import './node_modules/accessible-autocomplete/dist/accessible-autocomplete.min';
@import "./assets/components/top-right-nav-link";
@import "./assets/components/copy-bearer-token";
@import "./assets/components/test-banner";
@import "./assets/components/api-docs";
@import "./assets/components/download-icon";
@import "./assets/components/autocomplete-tags";