<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">Changes to the format and methodology</h1>
      </div>
      <div class="govuk-grid-row">
        <h2 class="govuk-heading-l govuk-!-padding-top-4">
          Certificate changes
        </h2>

        <p class="govuk-body">There have been multiple version changes which affect how domestic and non-domestic EPCs and DECs are formatted.</p>
        <p class="govuk-body">You can find JSON Schema describing the different certificate versions on <a class="govuk-link" href="https://github.com/communitiesuk/epb-data-warehouse/tree/main/spec/fixtures/json_samples">GitHub</a>. </p>
      </div>
      <div class="govuk-grid-row">
        <h2 class="govuk-heading-l govuk-!-padding-top-4">
          Regulatory changes
        </h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>1 October 2008 – The requirement for DECs came into effect for buildings that are over 1,000 square meters, occupied by public authorities and frequently visited by the public.</li>
          <li>9 January 2013 – The floor area size threshold for DECs was lowered to buildings over 500 square meters.</li>
          <li>9 July 2015 – The floor area size threshold for DECs was lowered to buildings over 250 square meters.</li>
        </ul>
      </div>
      <div class="govuk-grid-row">
        <h2 class="govuk-heading-l govuk-!-padding-top-4">
          Publishing changes
        </h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>September 2020 – EPC data was migrated to a new register.</li>
          <li>November 2021 – UPRNs (Unique Property Reference Numbers) were added to the data.</li>
        </ul>
      </div>
      <%= erb :component__get_help %>
    </div>
  </div>
</div>