<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Changes to the format and methodology</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div>
      <h2 class="govuk-heading-l govuk-!-padding-top-4">
        Certificate changes
      </h2>

      <p class="govuk-body">There have been multiple schema version changes which affect how the data for domestic and non-domestic EPCs and DECs are formatted.</p>
      <p class="govuk-body">We provide <a class="govuk-link" href="https://github.com/communitiesuk/epb-data-warehouse/tree/main/spec/fixtures/json_samples">JSON samples for each of the different certificate versions</a>, but these samples are not a full specification of all possible keys that could appear in the data. </p>
    </div>
    <div>
      <h2 class="govuk-heading-l govuk-!-padding-top-4">
        Regulatory changes
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>1 October 2008 – The requirement for DECs came into effect for buildings that are over 1,000 square meters, occupied by public authorities and frequently visited by the public.</li>
        <li>9 January 2013 – The floor area size threshold for DECs was lowered to buildings over 500 square meters.</li>
        <li>9 July 2015 – The floor area size threshold for DECs was lowered to buildings over 250 square meters.</li>
      </ul>
    </div>
    <div>
      <h2 class="govuk-heading-l govuk-!-padding-top-4">
        Publishing changes
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>September 2020 – EPC data was migrated to a new register.</li>
        <li>November 2021 – UPRNs (Unique Property Reference Numbers) were added to the data.</li>
        <li>March 2026 - Certificate numbers were added to the data. The previous identifier, LMK_KEY, was removed because it was generated using proprietary third‑party technology that can no longer be reproduced. It is not possible to link certificate numbers to the former LMK_KEY.</li>
      </ul>
    </div>
    <div>
      <h2 class="govuk-heading-l govuk-!-padding-top-4">
        Email Notifications
      </h2>

      <p class="govuk-body">If the service is updated or changed, registered users may get an email explaining what has changed. You can <a class="govuk-link" href="/api/my-account">opt out of email notifications</a> at any time.</p>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <%= erb :component__get_help %>
</div>