<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">Data dictionary</h1>

        <p class="govuk-body">
          The data dictionary provides an explanation for every variable included in the dataset, as well as information on the data source and caveats.
        </p>
      </div>
      <div class="govuk-grid-row">
        <h2 class="govuk-heading-m govuk-!-padding-top-4">
          Documents
        </h2>
      </div>
      <%= erb :component__get_help %>
    </div>
  </div>
</div>