<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Energy certificate data APIs</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div>
      <p class="govuk-body">
        Learn about the APIs we offer for software developers and how you can connect to them.
      </p>
    </div>
    <div>
      <h2 class="govuk-heading-m govuk-!-padding-top-4">Data available</h2>

      <p class="govuk-body">
        Use the APIs to get data on:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Domestic Energy Performance Certificates (EPCs)</li>
        <li>Non-domestic Energy Performance Certificates (EPCs) and recommendation reports</li>
        <li>Display Energy Certificates (DECs) and recommendation reports for public buildings</li>
      </ul>
    </div>
    <div>
      <h2 class="govuk-heading-m govuk-!-padding-top-4">Technical documentation</h2>

      <p class="govuk-body">
        View <a class="govuk-link" href="/api-technical-documentation">technical documentation</a> for the APIs.
      </p>

    </div>
    <div>
      <% unless Helper::Session.is_logged_in?(session) %>
        <h2 class="govuk-heading-m govuk-!-padding-top-4">How to get started</h2>

        <p class="govuk-body">You need to sign in or create an account with GOV.UK One Login to receive a bearer token.</p>

        <div class="govuk-button-group">
          <a
            href="/login/authorize?referer=api/my-account"
            role="button"
            draggable="false"
            class="govuk-button"
            data-module="govuk-button" >
            Sign in or Create account
          </a>
        </div>
      <% end %>

      <% if Helper::Session.is_logged_in?(session) %>
        <h2 class="govuk-heading-m govuk-!-padding-top-4">My Bearer token</h2>
        <dl class="govuk-summary-list govuk-!-width-full">
          <div class="govuk-summary-list__row" id='bearer-token'>
            <dd class="govuk-summary-list__value" id="bearer-token-value">
              <%= ViewModels::MyAccount.get_bearer_token(session, locals[:use_case]) %>
            </dd>
            <dd class="govuk-summary-list__actions">
              <%= erb :component__copy_bearer_token %>
            </dd>
          </div>
        </dl>
      <% end %>
    </div>
    <div>
      <h2 class="govuk-heading-m govuk-!-padding-top-4">Open API specification</h2>

      <p class="govuk-body">
        Our APIs use <a class="govuk-link" href="https://swagger.io/specification/">OpenAPI Specification</a> (OAS) - previously known as 'Swagger' - to describe the API's interface.
      </p>
      <p class="govuk-body">
        The OAS file for each API contains general documentation as well as specific details of endpoints, including request and response headers and bodies.
        We use the OAS file to generate the API specifications in our API catalogue.
        You can also download the OAS file for an API - go to the API specification and look for the "Get this specification in OAS format" button.
      </p>
      <p class="govuk-body">
        You can use a tool such as <a class="govuk-link" href="https://swagger.io/tools/swagger-codegen/">Swagger Codegen</a> to generate stubs, test harnesses and SDKs in your favourite programming language.
        Our OAS files use OAS version 3.
      </p>
    </div>
    <div>
      <h2 class="govuk-heading-m govuk-!-padding-top-4">Conditions of use</h2>

      <p class="govuk-body">
        Find out more about <a class="govuk-link" href="/guidance/licensing-restrictions">Licensing restrictions</a> and <a class="govuk-link" href="/guidance/data-protection-requirements">Data protection</a>.
      </p>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <%= erb :component__get_help %>
</div>