<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">How the data is produced</h1>
      </div>
      <div class="govuk-grid-row">
        <h2 class="govuk-heading-l govuk-!-padding-top-4">
          Why energy certificates are created
        </h2>

        <p class="govuk-body">The requirement for domestic and non-domestic EPCs and DECs was introduced in stages from 2007.</p>
        <p class="govuk-body">Buildings must have an EPC when constructed, sold or let, unless an exemption is registered.</p>
        <p class="govuk-body">
          Buildings that are occupied by a public authority, are frequently visited by the public and have a floor area above 250 square meters must have a Display Energy Certificate (DEC).
        </p>
      </div>
      <div class="govuk-grid-row">
        <h2 class="govuk-heading-l govuk-!-padding-top-4">
          How energy certificates are produced
        </h2>

        <p class="govuk-body">
          All types of energy assessment must be carried out by a person accredited by an energy assessment scheme. These schemes are responsible for ensuring that assessors have had the training required to competently carry out an assessment.
        </p>
        <p class="govuk-body">
          In most cases, assessors are required to conduct a visual inspection of the property when carrying out an energy assessment. They then enter the property details into an approved software program to calculate the property’s energy performance. This data is then sent to the Energy Performance of Buildings Register and a certificate is created.
        </p>
        <p class="govuk-body">
          The data that energy assessors collect and the method of calculation they use depends on the certificate type.
        </p>

        <h3 class="govuk-heading-m govuk-!-padding-top-4">
          Domestic EPCs
        </h3>

        <p class="govuk-body">How domestic EPCs are produced depends on whether it is made for a new property or an existing property.</p>

        <h3 class="govuk-heading-s govuk-!-padding-top-4">
          New properties
        </h3>

        <p class="govuk-body">SAP (Standard Assessment Procedure) is the methodology used to create EPCs for new properties.</p>
        <p class="govuk-body">
          SAP assessments are completed by an energy assessor once a property has been constructed. Assessors review the manufacturer specifications provided, conduct a visual inspection to confirm construction details and conduct an air pressure test to measure air leakage.
        </p>

        <h3 class="govuk-heading-s govuk-!-padding-top-4">
          Existing properties
        </h3>

        <p class="govuk-body">RdSAP (Reduced Data Standard Assessment Procedure) is the methodology used to create EPCs for existing properties.</p>
        <p class="govuk-body">
          RdSAP assessments are completed by an energy assessor through a visual inspection at the property. Where details are not visible, assessors may make assumptions based on a property’s age or construction type.
        </p>

        <h3 class="govuk-heading-m govuk-!-padding-top-4">
          Non-domestic EPCs
        </h3>

        <p class="govuk-body">
          Assessments are carried out by an energy assessor through a visual inspection at the property. For non-visible details, assessors may refer to building plans where available, or they may make assumptions based on a property’s age.
        </p>
        <p class="govuk-body">The method of calculation that an assessor uses depends on the complexity of the building.</p>
        <p class="govuk-body">
          Most non-domestic EPCs are created using SBEM (Simplified Building Energy Model). SBEM estimates the energy performance of a building by assuming simple building geometry, fixed external shading and using average monthly weather data.
        </p>
        <p class="govuk-body">
          Non-domestic EPCs for more complex properties such as airports, shopping centres and skyscrapers must be calculated using DSMs (Dynamic Simulation Models). DSMs use advanced modelling that takes into account complex building geometry, dynamic external shading and hourly weather data. Assessors must gather more detailed property information for DSMs than for SBEM.
        </p>

        <h3 class="govuk-heading-m govuk-!-padding-top-4">
          Display Energy Certificates (DECs)
        </h3>

        <p class="govuk-body">
          DECs are different from EPCs in that they are based on real-world energy use instead of modelled energy use.
        </p>
        <p class="govuk-body">
          To create a DEC, assessors must gather information on the property’s energy use over a 12-month period. They then calculate the property’s operational rating using approved software such as ORCalc. This involves adjusting for factors such as weather variations and hours of operation.
        </p>
      </div>
      <div class="govuk-grid-row">
        <h2 class="govuk-heading-l govuk-!-padding-top-4">
          Data release frequency
        </h2>

        <p class="govuk-body">The release frequency varies depending on how the data is accessed:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Data accessed via the CSV downloads is updated on the first day of each month.</li>
          <li>Data accessed via a developer API is updated daily.  </li>
        </ul>
      </div>
      <div class="govuk-grid-row">
        <h2 class="govuk-heading-l govuk-!-padding-top-4">
          Unique Property Reference Numbers (UPRNs)
        </h2>
        <p class="govuk-body">To find out more about the creation, governance and use of UPRNs. Visit <a class="govuk-link" href="https://www.geoplace.co.uk/addresses-streets/location-data/the-uprn">GeoPlace</a> or <a class="govuk-link" href="https://ordnancesurvey.co.uk/">Ordnance Survey</a>.</p>
      </div>
      <%= erb :component__get_help %>
    </div>
  </div>
</div>