<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">Licensing restrictions</h1>
      </div>
      <div class="govuk-grid-row">
        <h2 class="govuk-heading-l govuk-!-padding-top-4">
          Non-Address Data
        </h2>

        <p class="govuk-body">
          All data fields other than the address and postcode data (address, address 1, address 2, address 3, postcode) available via this website are licensed under the <a class="govuk-link" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0</a>, which includes Ordnance Survey UPRNs.
        </p>
      </div>
      <div class="govuk-grid-row">
        <h2 class="govuk-heading-l govuk-!-padding-top-4">
          Ordnance Survey and Royal Mail Copyright and Database Right Notice
        </h2>

        <p class="govuk-body">
          This data contains address data (address 1, address 2, address 3, postcode – processed against Ordnance Survey’s Address Base Premium product, which incorporates Royal Mail’s PAF® database (Address Data).
          MHCLG has published the address data with the consent of Ordnance Survey and Royal Mail Group Limited;
          Ordnance Survey and Royal Mail Group Limited reserve all their respective copyright, database rights, trademarks and other intellectual property rights.
          Ordnance Survey and Royal Mail Group Limited permit the use of ‘address data’ solely for specific purposes related to the energy performance of buildings which are as follows:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>The effective management of properties in the private or public sector with a view to promoting energy efficiency (through consideration of factors such as patterns of use, maintenance, repairs, improvements and upgrades of building structure or energy using systems).</li>
          <li>Research to provide data, analysis and statistics intended to improve the understanding of energy efficiency of buildings or to facilitate innovation and improvement in use, design, materials and equipment to this end./li>
          <li>Research into the effectiveness or impact of energy efficiency improvements including those delivered through Government or other energy improvement programmes. </li>
          <li>Promoting and marketing energy efficiency improvements that may be made through a government energy efficiency programme or initiative.</li>
          <li>Promotion and better understanding of the current energy efficiency of buildings and potential improvement in the building sale or rental markets and/or by building occupiers or users.</li>
          <li>To enable enforcement authorities to carry out enforcement duties as required by the Energy Performance of Buildings Regulations (England and Wales) 2012 (SI 2012/3118).</li>
          <li>By local authorities in the exercise of their duties under section 91 of the Building Act 1984, or an approved inspector for the purposes of the inspector’s functions under Part 2 of the Building Act 1984.</li>
          <li>For the prevention or detection of crime, the apprehension or prosecution of alleged offenders, any proceedings in a court or tribunal or complying with an order or a court or a tribunal.</li>
        </ul>

        <p class="govuk-body">
          In addition to the purposes set out above there are certain exceptions to copyright which permit you to use copyrighted material for specific and limited purposes.
          These include non-commercial research and private study, subject to compliance with certain conditions.
          <a class="govuk-link" href="https://www.gov.uk/guidance/exceptions-to-copyright">Further information about these exceptions can be found here</a>.
        </p>
        <p class="govuk-body">
          Where you publish or otherwise share address data with any other person
          for any of the purposes permitted under this copyright and database right notice,
          you must include a copy of this copyright and database right notice with the data.
        </p>
        <p class="govuk-body">
          Any use of address data which is not specified in this notice or covered by one of the copyright exceptions requires an appropriate licence from Ordnance Survey.
          You can contact Ordnance Survey at <a class="govuk-link" href="mailto:PricingLicensing@os.uk">PricingLicensing@os.uk</a> and/or Royal Mail Group Limited (<a class="govuk-link" href="mailto:address.management@royalmail.com">address.management@royalmail.com</a>).
        </p>
        <p class="govuk-body">
          By using address data on this website, you will be taken to agree to the terms set out in this copyright and database right notice.
          Failure to comply with this copyright and database right notice may lead to Ordnance Survey and/or Royal Mail Group Limited taking legal action against you.
        </p>
      </div>
      <%= erb :component__get_help %>
    </div>
  </div>
</div>