<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">How to link certificates to recommendations</h1>

        <p class="govuk-body-l">
          The method to link certificates to their recommendations varies depending on how the data is accessed:
        </p>


      </div>
      <div class="govuk-grid-row">
        <h2 class="govuk-heading-m govuk-!-padding-top-4">
          CSV download
        </h2>

        <p class="govuk-body">
          For domestic EPC and commercial EPC data, the certificate numbers can be used to identify certificates and to link them with their recommendations.
        </p>

        <h2 class="govuk-heading-m govuk-!-padding-top-4">
          API
        </h2>

        <p class="govuk-body">
          For domestic EPC data, the recommendation reports are included in the EPCs.
        </p>
        <p class="govuk-body">
          For commercial EPC data, the certificate numbers can be used to fetch the recommendation reports.
        </p>
      </div>
      <%= erb :component__get_help %>
    </div>
  </div>
</div>