#copyToClipboardButton {
  text-decoration: none;
  text-align: left;
  border: none;
  padding: 0;
  outline: none;
  color: #1d70b8;
  background-color: white;
  display: none;
  cursor: pointer;

  //tailwind style class
  &.display-inline {
    display: inline;
  }
}

#copyToClipboardButton:focus {
  @include govuk-focused-text;
}

#copy-to-clipboard-margin {
  margin-bottom: 0;
}

.share-icon {
  padding-top: 5px;
  padding-right: 5px;
}
