<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    <%= erb :'api_tech_docs/component__navigation' %>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-!-margin-bottom-7">
      <h1 class="govuk-heading-l">Fetch EPC codes</h1>

      <p class="govuk-body">
        Fetch a list of codes currently available from which you can query for more info
      </p>
    </div>

    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">Method</h2>
      <pre><code>GET /api/codes</code></pre>

    </div>

    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">Response</h2>
      If the request is successful, the response body is json with a status code of 200:

      <pre><code class="javascript"><%=  ViewModels::ApiTechDocs.codes_response %></code></pre>

    </div>

    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">Example</h2>
      If the request is successful, the response body is json with a status code of 200:

      <pre><code><%= ViewModels::ApiTechDocs.curl_example "/api/codes" %></code></pre>


    </div>

  </div>
</div>