

<li class="app-subnav__section-item <%= ViewModels::ApiTechDocs.current_item_class(request.fullpath, "/api-technical-documentation#{link}") %>">
  <a href="/api-technical-documentation<%= link %>" class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline"><%= text %></a>
</li>