<nav class="app-subnav" aria-labelledby="app-subnav-heading">
  <h3 class="app-subnav__theme">General documentation</h3>

  <ul class="app-subnav__section">
    <li class="app-subnav__section-item"><a href="/api-technical-documentation" class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline">Energy certificate data API documentation</a>  </li>
    <li class="app-subnav__section-item"><a href="/api-technical-documentation/making-a-request" class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline">Making a request</a> </li>
    <li class="app-subnav__section-item"><a href="/api-technical-documentation/headers" class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline">Headers</a> </li>
  </ul>


  <h3 class="app-subnav__theme">API specifications</h3>
  <ul class="app-subnav__section">
    <li class="app-subnav__section-item">
      <a href="/api-technical-documentation/fetch-certificate-data" class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline">Fetch certificate data  </a> </li>
    <li class="app-subnav__section-item">
      <a href="/api-technical-documentation/search-domestic-certificates" class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline">Search for domestic certificates </a> </li>
    <li class="app-subnav__section-item">
      <a href="/api-technical-documentation/search-non-domestic-certificates" class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline">Search for non-domestic certificates </a> </li>
    <li class="app-subnav__section-item">
      <a href="#example-requests" class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline">Search certificates that have changed</a> </li>
    <li class="app-subnav__section-item">
      <a href="/api-technical-documentation/download-domestic-full-load-csv" class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline">Download domestic full load csv</a> </li>
    <li class="app-subnav__section-item">
      <a href="#example-requests" class="gapp-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline">Fetch info about domestic full load csv</a> </li>
    <li class="app-subnav__section-item">
      <a href="/api-technical-documentation/download-non-domestic-full-load-csv" class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline">Download non domestic full load csv</a> </li>
    <li class="app-subnav__section-item">
      <a href="#example-requests" class="gapp-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline">Fetch info about non domestic full load csv</a> </li>

  </ul>

</nav>