<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= erb :'api_tech_docs/component__navigation'%>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Energy certificate data API documentation</h1>

    <p class="govuk-body">
      This documentation is for developers interested in using the Energy Certificate Data API to access Energy Performance Certificate (EPC) and Display Energy Certificate (DEC) data for buildings in England and Wales.
    </p>
    <p class="govuk-body">
      Developers can also use our <a href="/api-documentation/index.html">OpenAPI</a> file with tools such as <a href="https://swagger.io/">Swagger</a> and <a href="https://github.com/Redocly/redoc">Redoc</a> to assist with using the REST API.
    </p>
  </div>
</div>


