<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl"><%= t('opt_out.advised_by_third_party.title') %></h1>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            <%= t('opt_out.advised_by_third_party.warning') %>
          </strong>
        </div>

        <div class="govuk-body">
          <%= t('opt_out.incorrect_epc.note') %>
        </div>
      </div>

    </div>
  </div>
</div>
